<!DOCTYPE html>
<html>
  <head>
    <!-- Preload -->
    <link
      rel="preload"
      href="assets/fonts/rubik-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="assets/fonts/space-mono-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link
      href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="https://kit.fontawesome.com/2b0955ccca.js"></script>
    <link rel="stylesheet" href="../static/chat.css" />
  </head>
  <body>
    <video autoplay muted loop id="mlvideo">
      <source src="../static/happy.mov" type="video/mp4" />
    </video>
    <div class="chat_window">
      <div class="top_menu">
        <div class="buttons">
          <div class="button close"></div>
          <div class="button minimize"></div>
          <div class="button maximize"></div>
        </div>
        <div class="title" style="color:darkgrey;">
          <b>Hey! I'm Dorothy - I'm here to listen, and I'm here for you.</b>
        </div>
      </div>
      <ul class="messages" id="ul_input"></ul>
      &nbsp;&nbsp;&nbsp;
      <div class="bottom_wrapper clearfix">
        <div
          class="message_input_wrapper"
          style="font-family: Ubuntu; float:left; font-size: 17px;"
        >
          <input
            class="message_input"
            id="text_message"
            value="{{ myfunction() }}"
            onkeydown="if (event.keyCode ==13)document.getElementById('send').click()"
          />
        </div>

        <div class="send_message1" style="float:right;">
          <span style="font-size: 35px; color: #a3d063;">
            <a href="{{ url_for('chat') }}">
              <i class="fas fa-microphone" style="color: #a3d063;"></i
            ></a>
          </span>
        </div>
        &nbsp;&nbsp;&nbsp;
        <br /><br /><br />
        <div class="send_message" id="send" onclick="get_message()">
          <!--<div class="icon"></div>-->

          <span style="font-size: 32px; color:black;">
            <i class="fas fa-paper-plane"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="message_template">
      <li class="message">
        <div class="avatar"></div>
        <div class="text_wrapper">
          <div class="text"></div>
        </div>
      </li>
    </div>

    <script src="../static/chat.js"></script>
  </body>
</html>
