<!DOCTYPE html>
<html>
  <head>
   <!-- Preload -->
   <link rel="preload" href="assets/fonts/rubik-regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="assets/fonts/space-mono-regular.woff2" as="font" type="font/woff2" crossorigin>
    
   <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link
      href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="https://kit.fontawesome.com/2b0955ccca.js"></script>
    <link rel="stylesheet" href="../static/chat.css" />
  </head>
  <body>
    <video autoplay muted loop id="mlvideo">
      <source src="../static/happy.mov" type="video/mp4" />
    </video>
    <div class="chat_window">
      <div class="top_menu">
        <div class="buttons">
          <div class="button close"></div>
          <div class="button minimize"></div>
          <div class="button maximize"></div>
        </div>
        <div class="title">Smart Therapy: Let me help you today.</div>
      </div>
      <ul class="messages" id="ul_input"></ul>
      <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">
          <input
            class="message_input"
            id="text_message"
            placeholder="Tell me how you feel today..."
            onkeydown="if (event.keyCode == 13)document.getElementById('send').click()"
          />
          <p> {{ myfunction() }}</p>
        </div>
     

        <div class = "send_message1" id = 'audio' onclick = "start_dictation()">
           

        <span style="font-size: 32px; color:black;">
          <i class="fas fa-microphone"></i>
        </span>
      </div>
        <div class="send_message" id="send" onclick="get_message()">
          <!--<div class="icon"></div>-->

          <div class="text">Send</div>
        </div>
      </div>
    </div>
    <div class="message_template">
      <li class="message">
        <div class="avatar"></div>
        <div class="text_wrapper">
          <div class="text"></div>
        </div>
      </li>
    </div>

    <script src="../static/chat.js"></script>
    
  </body>
</html>
